<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand">Reaction Game</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="active glyphicon glyphicon-home"></span> Home </a></li>
    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
    <li><a href="/leaderboard"><span class="glyphicon glyphicon-star"></span> Leaderboard </a></li>
    <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
    </ul>
</div>
</nav>