<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reaction Game</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="active glyphicon glyphicon-home"></span> Home </a></li>
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
      <li><a href="/profile"><span class="glyphicon glyphicon-log-in"></span> My Profile</a></li>
    </ul>
  </div>
</nav>